
$primary_color: #F8F8F8
$border: #DDDDDD
$speed: 200ms
$easing: cubic-bezier(0.7, 0, 0, 0.7)
$caropacity: opacity(.7)


body
  padding-top: 5%

form
  border: solid 2px $border
  border-radius: 5px
  margin-top: 10px
  padding: 2%

.carousel-inner > .item > .carousel-caption
  $caropacity

.carousel-indicators
  $caropacity


.container
  display: flex
  justify-content: space-around





//.container > .jumbotron
//  color: $primary_color
//  background: url(img/slick_jones.jpg) center no-repeat
//
//
//.container > .jumbotron > h1
//  text-align: end
//  padding-top: 15%

.hide
  display: none


#myCarousel
  height: 85%

  width: 85%




.navbar-toggle
  overflow: hidden
  .icon-bar
    transition: opacity, transform,
    transition-duration: $speed
    transition-timing-function: $easing
  &:not(.collapsed) .icon-bar
    &:nth-child(1)
      transform: translateY(6px) rotate(45deg)
    &:nth-child(2)
      opacity: 0
      //transform: translateX(-100%)
    &:nth-child(3)
      transform: translateY(-6px) rotate(-45deg)




//.navbar > .container > .links
//  align-content: space-around
//  display: flex
//  flex-direction: row
//  flex-grow: 1
//  flex-wrap: wrap
//  justify-content: space-around
//  padding-top: 1%

.navbar-header > a > img
  height: 99%

.row
  display: flex
  justify-content: space-around
  padding-top: 2%
  text-align: center

.thumbnail > img h3
  display: inline-block
  float: none
